* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(28, 122, 151);
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
